@font-face {
  font-family: 'Quicksand';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(/src/assets/fonts/Quicksand-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(/src/assets/fonts/Quicksand-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(/src/assets/fonts/Quicksand-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Sono';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(/src/assets/fonts/Sono-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Sono';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(/src/assets/fonts/Sono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Sono';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(/src/assets/fonts/Sono-Medium.woff2) format('woff2');
}
