@use 'app' as *;

.container {
  position: relative;

  padding: ch(1) cw(1);

  overflow: hidden;

  :where(&) {
    width: fit-content;

    background-color: $widgetColor;

    border-color: $borderColor;
    border-style: solid;

    border-width: 0;
    border-radius: $borderRadius;
  }

  .title {
    position: absolute;

    box-sizing: border-box;

    max-width: calc(100% - cw(3));

    top: 0;
    left: cw(1.5);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    background-color: inherit;

    color: $textBrightColor;

    font-weight: bold;

    border-color: inherit;
    border-style: inherit;

    border-width: 0;

    padding: 0 cw(1);

    @mixin title-decorator {
      position: absolute;
      box-sizing: border-box;

      width: cw(0.5);
      height: ch(0.5);

      bottom: $borderSize * 1.5;

      border-color: inherit;
      border-style: inherit;

      border-width: 0;

      border-top-width: $borderSize;
    }

    .decorator-left {
      @include title-decorator;

      left: 0;

      border-right-width: $borderSize;

      border-radius: 0 $borderRadius 0 0;
    }

    .decorator-right {
      @include title-decorator;

      right: 0;

      border-left-width: $borderSize;

      border-radius: $borderRadius 0 0 0;
    }
  }

  .border {
    position: absolute;
    box-sizing: content-box;

    pointer-events: none;

    border-radius: $borderRadius;

    height: calc(100% - ch(1));
    width: calc(100% - cw(1));

    top: calc(ch(1) / 2 - $borderSize);
    left: calc(cw(1) / 2 - $borderSize);

    border-color: inherit;
    border-style: inherit;

    border-width: $borderSize;
  }
}

.divider {
  &.horizontal {
    height: $borderSize;

    width: 100%;

    background-color: red;
  }

  &.vertical {
    width: $borderSize;

    height: 100%;
  }
}
