@use 'app' as *;

.container {
  position: relative;

  padding: ch(1) cw(1);

  overflow: hidden;

  :where(&) {
    width: fit-content;

    background-color: $widgetColor;

    border-color: $borderColor;
    border-style: solid;

    border-width: 0;
    border-radius: $borderRadius;
  }

  .title {
    position: absolute;

    box-sizing: border-box;

    max-width: calc(100% - cw(3));

    top: 0;
    left: cw(2);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    backdrop-filter: blur(0.2rem);

    color: $textBrightColor;

    font-weight: bold;

    border-color: inherit;
    border-style: inherit;

    border-width: 0;

    padding: 0 cw(0);
  }

  .border {
    position: absolute;
    box-sizing: content-box;

    pointer-events: none;

    border-radius: $borderRadius;

    height: calc(100% - ch(1));
    width: calc(100% - cw(1));

    top: calc(ch(1) / 2 - $borderSize);
    left: calc(cw(1) / 2 - $borderSize);

    border-color: inherit;
    border-style: inherit;

    border-width: $borderSize;
  }
}

.divider {
  :where(&) {
    background-color: $borderColor;
  }

  &.horizontal {
    height: $borderSize;

    margin-top: calc((ch(1) - $borderSize) / 2);
    margin-bottom: calc((ch(1) - $borderSize) / 2);

    &.connectStart {
      position: relative;

      &::before {
        content: '';

        position: absolute;

        left: cw(-0.5);

        background-color: inherit;

        width: cw(1);
        height: $borderSize;
      }
    }

    &.connectEnd {
      position: relative;

      &::after {
        content: '';

        position: absolute;

        right: cw(-0.5);

        background-color: inherit;

        width: cw(1);
        height: $borderSize;
      }
    }
  }

  &.vertical {
    width: $borderSize;

    margin-left: calc((cw(1) - $borderSize) / 2);
    margin-right: calc((cw(1) - $borderSize) / 2);

    &.connectStart {
      position: relative;

      &::before {
        content: '';

        position: absolute;

        top: calc(ch(-0.5) + $borderSize / 2);

        background-color: inherit;

        height: ch(1);
        width: $borderSize;
      }
    }

    &.connectEnd {
      position: relative;

      &::after {
        content: '';

        z-index: 99999999;

        position: absolute;

        bottom: ch(-0.5);

        background-color: inherit;

        height: ch(1);
        width: $borderSize;
      }
    }
  }
}
